/* global styles */

html {
    scroll-behavior:smooth;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family:"Teko", Arial, sans-serif;
    color:rgb(239,234,234);
    background:black;
    overflow-x:hidden;
}

main {
    flex:1;
}

/* global headings */

h1,h2 {

    color:#bee21f;
    text-align:center;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:600;
}

h1 {
    font-size:clamp(40px,6vw,70px);
}

h2 {
    font-size:clamp(32px,5vw,45px);
}

/* header and nav-bar */

header {

    width:100%;
    padding:10px 0;
    background:rgba(0,0,0,0.35);
    backdrop-filter:blur(6px);
}


#menu {

    display:flex;
    flex-direction:column;
    align-items:center;
    gap:15px;
}



#logo {
    width:200px;
    height:auto;
}


nav ul {
    list-style:none;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:15px;
    padding:10px 20px;
    background:#e8fc0b;
    border-radius:15px;
}


nav a {
    position:relative;
    text-decoration:none;
    color:#100e01;
    font-size:17px;
    font-weight:600;
    text-transform:uppercase;
}


nav a::after {
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0;
    height:2px;
    background:black;
    transition:.3s ease;
}

nav a:hover::after,
nav a.active::after {
        width:100%;
}


/* glass effect for feature cards */

.hero-content, .about,.feature-card,.goal-selector,.workout-card,.box {
    background:rgba(228, 228, 232, 0.084);
    backdrop-filter:blur(8px);
    border-radius:20px;
}

/* hero section */

.hero {
    width:90%;
    max-width:1000px;
    margin:60px auto 40px;
}

.hero-content {
    padding:45px 30px;
    text-align:center;
}

.hero p {
    max-width:800px;
    margin:20px auto;
    font-size:25px;
    line-height:1.5;
}





